html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.image {
  width: 100%;
  height: 100%;
}

.main {
  width: 100%;
  height: 100%;
  padding: 0px 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  position: relative;
}

.imageContainer {
  width: 100%;
  margin: 0px auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  background-color: rgb(235, 239, 241);
}

#division {
  width: 100%;
  height: 200px;
  padding: 5px;
  border: 3px solid rgb(52, 72, 90);
}

.glassScreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: linear-gradient(#011423, #bfc9d2);
  opacity: 0.9;
  display: none;
}

#bigimage {
  border-radius: 35px;
}

.display {
  width: 90%;
  height: 85%;
  border: 3px solid rgb(52, 72, 90);
  padding: 5px;
  position: absolute;
  top: 10px;
  background-color: white;
  border-radius: 40px;
  display: none;
}

.display-button {
  width: 90%;
  height: 50px;
  position: absolute;
  top: 88%;
  display: none;
}

.display-flex {
  display: flex;
  justify-content: center;
}

.glassbutton {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #ebeff1;
  border: 2px solid #34485a;
  border-radius: 10px;
}

#buttonleft {
  background-image: url("LeftArrow.png");
  background-size: 100% 100%;
}

#buttonright {
  background-image: url("RightArrow.png");
  background-size: 100% 100%;
}

.buttonContainer {
  width: 100%;
}

.button-div {
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: #8eb8da;
  display: flex;
  justify-content: center;
}

.button {
  width: 40px;
  height: 40px;
  margin: 5px;
  background-color: #ebeff1;
  color: #34485a;
  font-size: 15px;
  font-weight: bold;
  border: 2px solid #34485a;
  border-radius: 20px;
}

.database {
  width: 100%;
  height: 40px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.dbimg {
  width: 30px;
  height: 30px;
  margin: 5px;
}